<div class="empty">
  <h1>Welcome</h1>
  <p>
    You can   
    <%= link_to "customize the app",  root_path, class: "btn btn-secondary" %>
    or read the guide below.
  </p>
</div>

<%= render "instructions" %>